



body{
    font-family: 'Montserrat', sans-serif;
}
.project-title{
    font-size: 45px;
    color: blueviolet;
}

/* mainstyles */
.main{
    display: flex;
    flex-direction: row-reverse;
    background-color: #F5F7FA;
    width: 1200px;
    margin: 0 auto;
}
.main-content{
    background-color: #FFFFFF;
}
/* about styles */
.about{
    background-color: darkgoldenrod;
    padding-top: 10px;
    
}
/* projest styles */
.projects{
    background-color: chocolate;
    margin-top: 100px;
    margin-bottom:100px ;
    margin-left: 60px;
    margin-right:90px ;
}
/* work styles */
.work{
    background-color: cornflowerblue;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left:20px ;
    padding-right: 40px;
}
.colortext{
    color: red;
}
/* education styles */
.education{
    background-color: darkseagreen;
}

/* sidebar styles */
.sidebar{
    background-color: #1E2939;
    padding-top: 20px;
    padding-left:20px ;
    padding-right: 20px;
}
.img-style{
    width: 320px;
    height: 440px;
}
.color-skills{
    color:white
}
    